@font-face {
    font-family: "Tahoma", sans-serif;
    src: url(../font/Tahoma\ Regular\ font.ttf);
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #d1d1d0;
    font-family: "Tahoma", sans-serif;
}

.container {
    max-width: 850px;
    width: 100%;
    margin: auto;
}

.top-banner {
    width: 100%;
    height: 150px;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #111f1f;
    margin-top: 5px;
}

.main-content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5px;
    margin: 5px 0;
}

aside.main-content {
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
    background: #111f1f;
}

aside.sidebar-content {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    background: #111f1f;
}

.content-body {
    padding: 25px;
}

.content-title {
    background-image: -o-linear-gradient(bottom, #7eb9e5, #0c5286);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#7eb9e5), to(#0c5286));
    background-image: linear-gradient(0deg, #7eb9e5, #0c5286);
    padding: 5px 0px 5px 25px;
    border: 1px solid #0f5286;
}

.nav-content ul {
    list-style: none;
}

.nav-content {
    padding: 16px 0px 16px 25px;
}

.content-title p {
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-shadow: -1px 1px 1px #0c5286;
}

.content-body p {
    font-size: 14px;
    margin: 16px 0;
    color: #7db8e4;
    letter-spacing: 0.01em;
    word-spacing: 0.05em;
    text-shadow: -1px 1px 1px #111f1f;
}

span.icon {
    display: inline-block;
    width: 12px;
    margin-right: 8px;
}
.nav-content ul li {
    color: #7eb9e5;
    font-size: 14px;
}
.nav-content ul li a {
    display: inline-block;
    font-size: 14px;
    color: #7db8e4;
    margin-bottom: 5px;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
}

.nav-content ul li a:hover {
    color: #fff;
}

.nav-content ul li a:active {
    color: #d1d1d0;
}

li.sub-nav {
    padding-left: 30px;
}

li.nav-title {
    margin-bottom: 5px;
}

.footer-img {
    width: 100px;
}

.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    background-image: -o-linear-gradient(bottom, #7eb9e5, #0c5286);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#7eb9e5), to(#0c5286));
    background-image: linear-gradient(0deg, #7eb9e5, #0c5286);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
    border: 1px solid #111f1f;
}

p.footer-text {
    color: #fff;
    text-shadow: 0px 0px 3px #0c5286;
    font-size: 14px;
    line-height: 18px;
}

/* HOST PAGE */
.first-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
}

.host-image {
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%;
    max-width: 200px;
}

.host-description {
    -ms-flex-preferred-size: 65%;
    flex-basis: 65%;
}

.second-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.host-description p {
    margin: 0;
    margin-bottom: 5px;
}

/* EPIS PAGE */
.epi-col-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
}

.epi-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
}

.epi-image {
    max-height: 110px;
    height: 110px;
    width: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.epi-image img{
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}

.epi-description {
    -ms-flex-preferred-size: 65%;
    flex-basis: 65%;
}

.epi-description p {
    margin: 0;
    margin-bottom: 10px;
    line-height: 1.3em;
}

.epi-description p a {
    color: #7fb8e5;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
}

.epi-description p a:hover {
    color: #fff;
}

.epi-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    color: #7eb9e5;
    margin-top: 10px;
}

.epi-icon span.icon {
    margin: 0;
    width: 20px;
    display: block;
    -webkit-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all;
}

.epi-icon span.icon:hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
}

.epi-col.epi-sceris .epi-icon {
    margin: 0;
}

.epi-title h4 {
    font-size: 18px;
    letter-spacing: 0.03em;
    font-weight: 100;
    color: #7eb9e5;
    margin: 5px 0;
}

.epi-col.epi-sceris .epi-description p {
    margin: 10px 0;
}

a.epi-sourch-btn {
    display: inline-block;
    padding: 5px 15px;
    font-size: 15px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0c5286), to(#7eb9e5));
    background-image: -o-linear-gradient(top, #0c5286, #7eb9e5);
    background-image: linear-gradient(180deg, #0c5286, #7eb9e5);
    color: #fff;
    text-shadow: -1px 1px 1px #0c5286;
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid #0c5286;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
}

a.epi-sourch-btn:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}


/* RESPONSIVE CSS */
@media screen and (max-width: 690px) {
    .top-banner {
        background-image: url(../images/banner-690x150.jpg);
    }

    .epi-col-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 20px;
    }
}

@media screen and (max-width: 590px) {
    .main-content-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .nav-content {
        padding: 16px 25px;
    }

    .nav-content ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        row-gap: 5px;
        -webkit-column-gap: 15px;
           -moz-column-gap: 15px;
                column-gap: 15px;
    }

    span.icon {
        display: none;
    }

    li.sub-nav {
        padding-left: 0px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: 10px;
    }

    .first-col,
    .second-col {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        row-gap: 20px;
    }

    li.nav-title {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .top-banner {
        background-image: url(../images/banner-430x150.jpg);
    }
}