@font-face {
    font-family: 'Tahoma', sans-serif;;
    src: url(../font/Tahoma\ Regular\ font.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #d1d1d0;
    font-family: 'Tahoma', sans-serif;
}

.container{
    max-width: 850px;
    width: 100%;
    margin: auto;
}

.top-banner{
    width: 100%;
    height: 150px;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #111f1f;
}

.main-content-wrapper {
    display: flex;
    gap: 5px;
    margin: 5px 0;
}

aside.main-content {
    flex-basis: 70%;
    background: #111f1f;
}

aside.sidebar-content {
    flex-basis: 30%;
    background: #111f1f;
}

.content-body {
    padding: 25px;
}

.content-title {
    background-image: linear-gradient(0deg, #7eb9e5, #0c5286);
    padding: 5px 0px 5px 25px;
    border: 1px solid #0f5286;
}

.nav-content ul {
    list-style: none;
}

.nav-content {
    padding: 16px 0px 16px 25px;
}

.content-title p {
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-shadow: -1px 1px 1px #0c5286;
}

.content-body p {
    font-size: 14px;
    margin: 16px 0;
    color: #7db8e4;
    letter-spacing: 0.01em;
    word-spacing: 0.05em;
    text-shadow: -1px 1px 1px #111f1f;
}

span.icon{
    display: inline-block;
    width: 12px;
    margin-right: 8px;
}

.nav-content ul li a {
    display: inline-block;
    font-size: 14px;
    color: #7db8e4;
    margin-bottom: 5px;
    transition: 0.3s all;
}

.nav-content ul li a:hover {
    color: #fff;
}

.nav-content ul li a:active {
    color: #d1d1d0;
}

.nav-content ul li ul.sub-nav {
    margin-left: 30px;
}

.footer-img {
    width: 100px;
}

.footer {
    display: flex;
    width: 100%;
    background-image: linear-gradient(0deg, #7eb9e5, #0c5286);
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
    border: 1px solid #111f1f;
}

p.footer-text {
    color: #fff;
    text-shadow: 0px 0px 3px #0c5286;
    font-size: 14px;
    line-height: 18px;
}

/* HOST PAGE */
.first-col {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.host-image {
    flex-basis: 35%;
    max-width: 200px;
}

.host-description {
    flex-basis: 65%;
}

.sceond-col{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.host-description p {
    margin: 0;
    margin-bottom: 5px;
}





/* RESPONSIVE CSS */
@media screen and (max-width:690px) {
    .top-banner{
        background-image: url(../images/banner-690x150.jpg);
    }
}
@media screen and (max-width:590px) {
    .main-content-wrapper {
        flex-direction: column-reverse;
    }

    .nav-content {
        padding: 16px 25px;
    }

    .nav-content ul {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
    
    span.icon{
        display: none;
    }

    .nav-content ul li ul.sub-nav {
        margin-left: 0px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .first-col,
    .sceond-col{
        flex-direction: column;
        row-gap: 20px;
    }
}

@media screen and (max-width:500px) {
    .top-banner{
        background-image: url(../images/banner-430x150.jpg);
    }
}



